<!DOCTYPE html>
<html>
<head>
	<title>Shopping Cart</title>
</head>
<body>
	<form action="/checkout" method="post">
		<label for="item2buy">Item to buy: </label>
		<input type="text" name="item" id="item2buy">
		<br>
		<input type="submit" name="submit" value="submit">
	</form>
</body>
</html>
